language: node_js
node_js:
  - "7"
  - "6"
  - "4"
os:
  - linux
  - osx
before_script:
script:
  - if [ ${TRAVIS_EVENT_TYPE} = "cron" ]; then
        npm run publish-nightly;
    else
        npm test;
    fi
after_script:
  - codeclimate-test-reporter < coverage/lcov.info
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
